.Display{
    width: 40vw;
    height: 200px;
    box-sizing: border-box;
    background-color: black;
    text-align: right;
    padding: 4px;
    margin-top: 2px;
    padding-right: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin: auto;
    
}

.Display__top{
    color: gray;
    font-size: 40px;
    margin-top: 20px;
}

.Display__bottom{
    color: white;
    font-size: 80px;
}